

.geInToBtn {
  background-color: var(--bs-red);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: .86em;
  transition: 0.3s ease;
  color: white;
  font-family: 'Playfair Display', serif;
}

.geInToBtn:hover {
  background-color: black;
  outline: 1px solid var(--bs-red);
}

footer input {
  font-size: small;
  font-family: sans-serif;
  padding: .86em;
}

.bg-dark-custom {
  background-color: black;
}

.bg-dark-custom-1 {
  background-color: rgba(0, 0, 0, 0.38);
  width: 200px;
}

#login-form input::placeholder {
  font-size: .8rem;
  color: var(--bs-gray-600);
}

.login-btn:hover {
  color: black !important;
}

#login-popup-btn:hover, #logout-btn:hover{
  background-color: var(--bs-red);
  color: white !important;
}
