<!-- Header-->
<header class="bg-dark py-5" style="background-color: var(--bs-red)">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white" >
      <h1 class="display-4 fw-bolder" style="color: var(--bs-red)">Random template text</h1>
      <p class="lead fw-normal text-white-50 mb-0">Even more random template text</p>
    </div>
  </div>
</header>

<div class="row px-lg-5 bg-dark-custom" style="
margin-right: 0;
">
  <section class="py-3 col-md-3">
    <app-book-search [bookAuthors]="Authors" [bookCategories]="Categories"></app-book-search>
  </section>
  <section class="py-3 col-md-9">
    <div class="container px-4 px-lg-2">

      <div class="row gx-4 gx-lg-5  justify-content-center ">
        <div class=" mb-3" *ngFor="let book of Books | keyvalue">
          <div class="card bg-dark-custom border border-dark h-100">
            <!-- <img class="card-img-top img-responsive" src="{{book.imageUrl}}" alt="..." height="250" width="100"/>-->

            <div class="card-body text-white book-body p-2">
              <h4 class="fw-bolder">{{book.value.title}}</h4>
              <a>By <i>{{Authors[book.value.authorId]["name"]}}</i></a><br>
              <a>Category: {{Categories[book.value.categoryId]["name"]}}</a><br>
              <a>Quantity: {{book.value.quantity}}</a>
              <a class="btn btn-outline-light float-end"
                      data-bs-toggle="modal" data-bs-target="#borrow-Modal"
                 [ngStyle]="!isLoggedIn() ? {pointerEvent: 'none'} : {pointerEvent: 'none'}"
                 (click)="setSelectedBook(book.value)"
              >
                {{isLoggedIn() ? 'Borrow' : 'Login to borrow'}}
              </a>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="text-white modal fade" id="borrow-Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
              <div class="modal-header border-0">
                <h5 class="modal-title" >Borrowing '{{selectedBook?.title}}'</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-2">
                    <label for="borrow-date">Borrow date:</label>
                    <input
                            class="form-control text-white bg-dark border border-1 rounded-2 shadow-none px-2"
                            onClick="this.showPicker()"
                            id="borrow-date"
                            type="date"
                            [min]="getToday()"
                            [value]="getToday()"
                    >
                  </div>
                  <div>
                    <label for="return-date">Expected return date:</label>
                    <input
                            class="form-control text-white bg-dark border border-1 rounded-2 shadow-none px-2"
                            onClick="this.showPicker()"
                            id="return-date"
                            type="date"
                            [min]="getToday()"
                            [value]="getToday()"
                    >
                  </div>
                </form>
              </div>
              <div class="modal-footer border-0">
                <button type="button" class="btn btn-outline-light float-end" (click)="createTicket(selectedBook)">
                  Borrow
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
